<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>光模块解决方案-飞速</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- hack -->
    <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../lib/css/fullpage.min.css">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script rel="text/javascript" src="../lib/js/jquery-3.3.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script rel="text/javascript" src="../lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lib/js/scrolloverflow.min.js"></script>
    <script type="text/javascript" src="../lib/js/fullpage.min.js"></script>
    <script type="text/javascript" src="../lib/js/fullpage.extensions.min.js"></script>
</head>
<body>
    <!-- 顶部通栏 -->
    <div class="header">
<%= require('html-loader!../common/header.html') %>
    </div>
         
    <!-- 解决方案 -->
    <div id="fullpage" class="solution container-fluid">        
        <!-- 第一屏 -->
        <div class="section section1">
            <div class="contentV">
                <div class="upon">
                    <h3>飞速(FS)高速系列光模块</h3>
                    <p class="p1">搭建高效数据中心机房，智慧联网，快人一步。</p>
                    <p class="p2 visible-lg">我们有严格的QC质量检测体系，所有提供的光模块出货前均经过真机检测，确保端口清洁、性能优良、兼容完美和包装完好。</p>
                    <div class="txtBox hidden-lg">
                        <p class="p2">我们有严格的QC质量检测体系，所有提供的光模块出货前均经过真机检测，确保端口清洁、性能优良、兼容完美和包装完好。</p>
                    </div>                        
                </div>
            </div>
        </div>

        <!-- 第二屏 -->
        <div class="section section2">
            <div class="content">
                <h3>思科(Cisco) 40G QSFP+PLRL4光模块搭配MPO/MTP主干光纤跳线和面板</h3>
                <p>40G QSFP PLRL4光模块可与10GBASE-LR光模块互连,利用分支光纤跳线和适配器面板可将40G分流为4x10G信号传输。连接方案如图所示。</p>
                <img src="<%= require('../../images/solution/solutions_plrl4_pic01.jpg') %>">
                <div class="info">
                    <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="yellow">
                        <thead >
                            <tr>
                                <td width="11%" align="center">序号</td>
                                <td width="15%" align="center">类别</td>
                                <td align="left">产品描述</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center">
                                    <span>1</span>
                                </td>
                                <td align="center">光模块</td>
                                <td align="left">思科（Cisco） QSFP-40G-PLRL4 QSFP+高速光模块 40GBASE-PLRL4 1310nm 1km</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span>2</span>
                                </td>
                                <td align="center">光纤跳线</td>
                                <td align="left">1m12芯MTP(母)单模OS2主干光纤跳线,极性B,低插损,Plenum(OFNP阻燃)</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span>3</span>
                                </td>
                                <td align="center">机箱配面板</td>
                                <td align="left">1U机架式高密度光纤配线箱 + 12×MTP 水平光纤适配器面板</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span>4</span>
                                </td>
                                <td align="center">光纤跳线</td>
                                <td align="left">1m 8芯MTP(母)-4*LC/UPC 双工单模OS2分支光纤跳线，极性B，LSZH</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span>5</span>
                                </td>
                                <td align="center">光模块</td>
                                <td align="left">思科（Cisco）SFP-10G-LR SFP+万兆光模块 1310nm 10km</td>
                            </tr>                        
                        </tbody>                
                    </table>
                </div>    
            </div>     
        </div>

        <!-- 第三屏 -->
        <div class="section section3">
            <div class="content">
                <h3>思科(Cisco) 100G-QSFP28-LR4 光模块直连方案与适配器面板搭配</h3>
                <p>100G-QSFP28-LR4 光模块除了可与光纤跳线直连外，也可与适配器面板搭配，实现高密度网络应用，具体详情如下图所示。</p>
                <img src="<%= require('../../images/solution/solutions_LR4_pic02.jpg') %>">
                <div class="info">
                    <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="yellow">
                        <thead >
                            <tr>
                                <td width="11%" align="center">序号</td>
                                <td width="15%" align="center">类别</td>
                                <td align="left">产品描述</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center">
                                    <span>1</span>
                                    <span>6</span>
                                </td>
                                <td align="center">光模块</td>
                                <td align="left">思科（Cisco） QSFP-100G-LR4-S QSFP28高速光模块 100GBASE-LR4 1310nm 10km</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span>2</span>
                                    <span>5</span>
                                </td>
                                <td align="center">光纤跳线</td>
                                <td align="left">LC/UPC-LC/UPC 双工单模光纤跳线电信级-2.0mm PVC护套（长度可定制）</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span>3</span>
                                </td>
                                <td align="center">适配器面板</td>
                                <td align="left">12×LC双工单模（OS2）光纤适配器面板(蓝色),氧化锆陶瓷</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span>4</span>
                                </td>
                                <td align="center">1U机箱</td>
                                <td align="left">1U机架式 光纤盒机箱 满载4个光纤适配器面板或4个高密度MTP/MPO配线盒</td>
                            </tr>                        
                        </tbody>                
                    </table>
                </div>    
            </div>     
        </div>

        <!-- 第四屏 底栏 -->
        <div class="section section_footer fp-auto-height">
            <div class="footer">
                <%= require('html-loader?-attrs!../common/footer.html') %>
            </div>
        </div>         
        
    </div>
    <div class="menu">
        <ul id="menu">
            <li class="active"><a href="optical_module.html">光模块</a></li>
            <li><a href="cabling_system.html">综合布线</a></li>
            <li><a href="switches.html">交换机</a></li>
           <!--  <li data-menuanchor="page1" class="active"><a href="#page1">光模块</a></li>
            <li data-menuanchor="page2"><a href="#page2">综合布线</a></li>
            <li data-menuanchor="page3"><a href="#page3">交换机</a></li> -->
            <!-- <li data-menuanchor="page4"><a href="#page4">其他</a></li> -->
        </ul>
    </div>
</body>
</html>