body {
  background-color: #cddcdc;
}
/* 产品展示页面样式 */
.product {
  text-align: center;
  margin-top: 60px;
  max-width: 1440px;
}
.product > div {
  padding: 0 10px 40px 10px;
  margin-top: 20px;
  border-bottom: 1px dashed #888;
}
.product > div:last-child {
  border-bottom: none;
}
.product .product_title h2 {
  padding: 20px;
  font-size: 34px;
  color: #333;
}
.product .product_title p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
}
@media (max-width: 1500px) {
  .product {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 767px) {
  .product {
    margin-top: 50px;
  }
  .product > div {
    padding-bottom: 20px;
    margin-top: 10px;
  }
  .product .product_title h2 {
    font-size: 22px;
  }
  .product .product_title p {
    font-size: 14px;
  }
}
.product .container-fluid {
  margin: 15px 0;
}
.product ul li {
  padding: 5px;
}
.product ul li > div {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.35);
}
.product ul li > div .front img {
  width: 76%;
}
.product ul li > div .front p {
  padding: 15px 0;
  display: block;
  height: 70px;
  font-size: 18px;
}
.product ul li > div .back {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #705eb8;
  color: #fff;
  opacity: 0;
  transition: opacity 0.4s;
}
.product ul li > div .back.hover {
  opacity: 0.85;
}
.product ul li > div .back h2 {
  font-size: 22px;
  font-weight: 600;
  padding: 15px;
}
.product ul li > div .back p {
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .product ul li > div .front img {
    width: 100%;
  }
  .product ul li > div .front p {
    font-size: 14px;
  }
  .product ul li > div .back p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
  }
  .product ul li > div .back h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
  }
}
